@import '../../../@theme/styles/themes';
@import '../../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../../node_modules/@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
  $primary: nb-theme(color-primary);
  $secundary: nb-theme(color-secundary);

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] { -moz-appearance:textfield; }

  @include media-breakpoint-down(md) {
    nb-card {
      max-width: 300px !important;
    }
  }

  nb-card {
    max-width: 448px;
  }

  button {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  form {
    padding: 26px 3rem 3rem 3rem;
  }

  nb-action {
    padding: 14px !important;
    cursor: pointer;
    > nb-icon {
      color: $secundary;
      cursor: pointer;
    }
  }
  .title-card {
    font-size: 24px;
    font-weight: 600;
  }

  ///personal



  .group {
    position:relative;
    margin-top: 42px;
  }

  .txtfield {
    font-size:16px;
    padding:1px 10px 14px 0;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #E2E2E2;
  }

  .txtfield:focus {
    outline:none;
  }

  .txtlabel {
    color:#9d9d9d;
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:0px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    /*margin-left:15px;*/
  }
  .highlight {
    color: #E2E2E2;
  }

  /* active state */
  .txtfield:focus ~ .txtlabel, .txtfield:valid ~ .txtlabel {
    top:-20px;
    font-size:12px;
  }

  .bar {
    position:relative;
    display:block;
    width:100%;
  }

  .bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#003a70;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  .bar:before {
    left:50%;
  }

  .bar:after {
    right:50%;
  }

  /**/
  .borred {
    input {
      border-bottom: solid;
      border-bottom-color: red;
      border-bottom-width: 0.2rem;
    }
    label {
      color: red;
    }

  }
  /**/
  .txtfield:focus ~ .bar:before, .txtfield:focus ~ .bar:after {
    width:50%;
  }

  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  .txtfield:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background:#003a70; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#003a70; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#003a70; }
    to 	{ width:0; background:transparent; }
  }

  .input-icons {
    width: 100%;
  }

  .input-icons nb-icon {
    position: absolute;
    color: #999;
    //top:15px;
    right: 10px;
    //bottom:20px;
    //font-size:16px;
  }
  ////////

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }
  
  input[type="date"]:before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    /* This is the calendar icon in FontAwesome */
    width: 15px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 16px;
    color: rgb(67, 176, 42);
    cursor: pointer;
  }
}
