<base-logo aligh="text-right">
  <nb-layout-column class="align-self-center nb-layout-logo-div">
    <div class="row text-center align-self-center justify-content-center" style="height: 80% !important;">
        <nb-card  *ngIf="!restoreOk" class="col-11 col-sm-7 col-md-9 col-lg-8 col-xl-7 text-left"
                 [appLoader]="loading">
            <nb-card-header>
              <div style="text-align: end">
                <button nbButton ghost status="success" style="padding-right: 0; padding-top: 12px;"><nb-icon icon="close" style="font-size: 1.5rem;" [routerLink]="['/auth/login']"></nb-icon></button>
              </div>
              <img class="icon-padlock" src="assets/images/pass.svg" alt="">
              <div class="title-login">Cambio<br>de contraseña</div>
              <div class="border-resalt"></div>
            </nb-card-header>
            <nb-card-body>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div style="font-size: 2vh !important;">Cambie su contraseña para acceder a la plataforma.</div>
                <div>
                  <div class="group input-icons" [ngClass]="{ 'is-invalid': submitted && f.pass.errors , 'borred': getPassErrorClass() }">
                    <nb-icon icon="{{showPass ? 'eye' : 'eye-off'}}" (click)="togglePass()" [style.color]="getColorIcoPass()"></nb-icon>
                    <input type="{{showPass ? 'text' : 'password'}}" class="txtfield font-roboto-d4" id="textActualPass"
                           formControlName="actualpass"
                           (focusin)="focusInInputPass($event)"
                           (focusout)="focusOutInputPass($event)"
                           [ngClass]="{ 'is-invalid': submitted && f.pass.errors }"
                           [style.border-bottom-color] = "getColorBorderPass()"
                           required>                  
                    <label for="textActualPass" class="txtlabel" [style.color]="getColorLabelPass()">Contraseña Actual</label>
                    <div *ngIf="isVisibleErrorPass()" [style.color]="'red'" style="font-size: 1.5vh;text-align: left;">
                      Debe ingresar una contraseña válida.
                    </div>
                    <!-- <div *ngIf="!isVisibleErrorPass()" style="font-size: 1.5vh;text-align: left;">
                      <span [style.visibility]="'collapse'" >La Contraseña debe tener 8 carácteres minímo</span>
                    </div> -->
                  </div>
                  <div class="group input-icons" [ngClass]="{ 'is-invalid': submitted && f.pass.errors , 'borred': getPassErrorClass() }">
                    <nb-icon icon="{{showNewPass ? 'eye' : 'eye-off'}}" (click)="toggleNewPass()" [style.color]="getColorIcoPass()"></nb-icon>
                    <input type="{{showNewPass ? 'text' : 'password'}}" class="txtfield font-roboto-d4" id="textPass"
                           formControlName="pass"
                           (focusin)="focusInInputPass($event)"
                           (focusout)="focusOutInputPass($event)"
                           [ngClass]="{ 'is-invalid': submitted && f.pass.errors }"
                           [style.border-bottom-color] = "getColorBorderPass()"
                           required>                  
                    <label for="textPass" class="txtlabel" [style.color]="getColorLabelPass()">Nueva Contraseña</label>
                    <div *ngIf="isVisibleErrorPass()" [style.color]="'red'" style="font-size: 1.5vh;text-align: left;">
                      Debe ingresar una contraseña válida.
                    </div>
                    <!-- <div *ngIf="!isVisibleErrorPass()" style="font-size: 1.5vh;text-align: left;">
                      <span [style.visibility]="'collapse'" >La Contraseña debe tener 8 carácteres minímo</span>
                    </div> -->
                  </div>
                  <div class="group input-icons" [ngClass]="{ 'is-invalid':  showConfirmationPasswordInvalidState() , 'borred': showConfirmationPasswordInvalidState() }">
                    <nb-icon icon="{{showPasswordConfirmation ? 'eye' : 'eye-off'}}" (click)="togglePasswordConfirmationVisibility()" [style.color]="getIconColor()"></nb-icon>
                    <input type="{{showPasswordConfirmation ? 'text' : 'password'}}" class="txtfield font-roboto-d4" id="passwordConfirmation"
                      formControlName="passwordConfirmation"
                      (focusin)="hasPasswordConfirmationFocus=true"
                      (focusout)="hasPasswordConfirmationFocus=false"
                      [ngClass]="{ 'is-invalid': showConfirmationPasswordInvalidState() }"
                      [style.border-bottom-color] = "getBorderColor()"
                      required>
                    <label for="passwordConfirmation" class="txtlabel" [style.color]="getLabelColor()">Confirmar contraseña</label>
                    <div *ngIf="showConfirmationPasswordInvalidState()" [style.color]="'red'" style="font-size: 1.5vh;text-align: left;">
                      Las contraseñas deben coincidir.
                    </div>
                  </div>                 
                </div>
                <button class="button-gradient" [disabled]="!registerForm.valid" type="submit" nbButton fullWidth size="large" shape="round">Confirmar</button>
              </form>
            </nb-card-body>
          </nb-card>
        <nb-card  *ngIf="restoreOk">
          <nb-card-header>
            <div style="text-align: end;     margin-bottom: 2em;">
              <button nbButton ghost status="success"><nb-icon icon="close" [routerLink]="['/auth/login']"></nb-icon></button>
            </div>
            <div class="backg row">
              <img class="col-12 icon-padlock2" src="assets/images/lock.svg" alt="">
              <div class="col-12 title-login-center font-source-sans-pro-semibold">¡Listo!</div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div style="text-align: center; padding: 4vh 0;" class="roboto-regular">Tu contraseña ha sido cambiada correctamente.</div>
            <button class="item-form button-gradient" style="margin-top: 0 !important;" nbButton fullWidth size="large" [routerLink]="['/auth/login']" shape="round">Volver al inicio</button>
          </nb-card-body>
        </nb-card>
      </div>
  </nb-layout-column>
</base-logo>
