.header-acord {
  padding: 16px 0;
  margin: 0;
}
.global {
  border-bottom: solid 1px #e2e2e2;
  margin-left: 0px;
  margin-right: 0px;
}
.body-acord {
  padding-bottom: 40px;
}
.title-acord {
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #003a70;
}

.c-pointer {
  cursor: pointer;
}
