<base-logo aligh="text-right">
  <nb-layout-column class="align-self-center nb-layout-logo-div">
    <div class="row text-center align-self-center justify-content-center" style="height: 80% !important;">
      <nb-card class="col-11 col-sm-7 col-md-9 col-lg-8 col-xl-7 text-left"
               [appLoader]="loading"
               appLoaderStatus="primary"
               appLoaderMessage="cargando"
               appLoaderSize="large">
        <nb-card-header>
          <div style="text-align: end">
            <button nbButton ghost status="success" style="padding-right: 0; padding-top: 12px;"><nb-icon icon="close" style="font-size: 1.5rem;" [routerLink]="['/auth/login']"></nb-icon></button>
          </div>
          <img class="icon-padlock" src="assets/images/padlock.svg" alt="">
          <div class="title-login font-source-sans-pro-semibold">¿Olvidaste<br>tu contraseña?</div>
          <div class="border-resalt"></div>
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="roboto-regular" style="margin-top: 1.2em; font-size: 2vh !important;">Ingresa tu correo para enviarte el código para restablecer tu contraseña.</div>
            <div class="form-group">

              <div class="group input-icons" [ngClass]="{ 'is-invalid': submitted && f.correo.errors , 'borred': getDireccionErrorClass() }">
                <nb-icon icon="envelope" pack="fas"  [style.color]="getColorIcoDireccion()"></nb-icon>
                <input type="text" class="txtfield font-roboto-d4" id="textdireccion"
                       (focusin)="focusInInputDireccion($event)"
                       (focusout)="focusOutInputDireccion($event)"
                       formControlName="correo"
                       maxlength="100"
                       [ngClass]="{ 'is-invalid': submitted && f.correo.errors}"
                       [style.border-bottom-color] = "getColorBorderDireccion()"
                       required>
                <label for="textdireccion" class="txtlabel" [style.color]="getColorLabelDireccion()">Correo electrónico</label>
                <div *ngIf="isVisibleErrorDireccion()" [style.color]="'red'" style="font-size: 1.5vh;text-align: left;">
                  Debe ser un Correo electrónico válido
                </div>
                <div *ngIf="!isVisibleErrorDireccion()" style="font-size: 1.5vh;text-align: left;">
                  <span [style.visibility]="'collapse'">Debe ser un Correo electrónico válido</span>
                </div>
              </div>
            </div>
            <button class="button-gradient" [disabled]="!registerForm.valid" type="submit" nbButton fullWidth size="large" shape="round">Enviar</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</base-logo>
