@import '../../@theme/styles/themes';
@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {

  $primary: nb-theme(color-primary);
  $secundary: nb-theme(color-secundary);

  background-color: transparent;
  nb-layout-header nav {
    background-color: transparent;
  }
  .content-global {
    height: 80%;
  }
  .content-login {
    margin: 0 !important;
  }
  .title-login {
    font-size: 4vh;
    line-height: 1.25;
    letter-spacing: normal;
    color: #003a70;
    //padding: 0 1.6em;
  }
  .border-resalt {
    margin-left: 45px !important;
    width: 23px !important;
  }
  .title-img {
    width: 25vw;
  }
  nb-card-header {
    padding: 0 0 0 1.25rem;
  }
  nb-card-body {
    overflow: visible;
    padding-top: 0;
    padding-bottom: 2rem;
    //padding: 0 3em 2em;

    > form > * {
      margin-top: 2vh;
    }
  }
  //.button-gradient {
  //  background-image: linear-gradient(284deg, #0172ce, #003a70);
  //  font-size: 18px;
  //  font-weight: 600;
  //  font-stretch: normal;
  //  font-style: normal;
  //  line-height: normal;
  //  letter-spacing: normal;
  //  text-align: center;
  //  color: #ffffff;
  //}
  .forgot-password {
    text-align: center;
    color: #0172ce;
  }

  nb-card {

    max-width: 394px;
    border-radius : 10px;
    margin: 0 3vw;
  }
  .caja {
    text-align: center;
  }
  .caja-2 {
    align-items: center;
    height: 60vh;
  }
  .title-workspace {
    color: white;
    letter-spacing: 1.5rem;
    font-size: 3vh;
    font-weight: bold;
  }

  .title {

    width: 20vw;
    max-width: 244px;
  }
  .icon-padlock {
    width: 72px;
    height: 8vh;
    margin-bottom: 1em;
    //margin: 0 2rem 1.5rem;

  }
  .border-resalt {
    width: 2vw;
    height: 2.5px !important;
    background-color: nb-theme(color-primary-dark);
    margin-left: 0 !important;
    border-radius: 4rem;
    margin-top: 7px;
  }

  @include media-breakpoint-down(sm) {
    .border-resalt {
      width: 24px;
      height: 4px;
      background-color: nb-theme(color-primary-dark);
      margin-left: 12vw;
      border-radius: 4rem;
      margin-top: 2px;
      margin-bottom: 1em;
    }
  }






  // Custom


  .group {
    position:relative;
    margin-top: 42px;
  }

  .txtfield {
    font-size:16px;
    padding:1px 10px 14px 0;
    display:block;
    width:100%;
    border:none;
    border-bottom: solid;
    border-bottom-width: 2px;
  }

  .txtfield:focus {
    outline:none;
  }

  .txtlabel {
    color:#9d9d9d;
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 0;
    top: 0;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  /* active state */
  .txtfield:focus ~ .txtlabel, .txtfield:valid ~ .txtlabel {
    top:-20px;
    font-size:12px;
  }

  .txtfield:focus ~ .bar:before, .txtfield:focus ~ .bar:after {
    width:50%;
  }

  .input-icons {
    width: 100%;
  }

  .input-icons nb-icon {
    position: absolute;
    color: #999;
    right:5px;
  }
}
