.background-profile {
  background-color: #43b02a;
}
.box-name{
  padding: 10px 24px 10px 30px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: normal;
  margin-left: -25px;
}
:host {
  cursor: pointer;
}
